body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    background-color: #2c3e50; /* Modern blue-gray background color */
    color: #ecf0f1; /* Light text color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 9px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    font-size: 24px; /* Larger font size for the header */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #3ce7a0; /* Modern red hover color */
  }
  
/* Add this to your existing CSS file or include it in your styles.css file */

/* Styles for the logo */
.logo-container {
    display: inline-block;
    margin-left: 40px; /* Adjust the margin-right as needed */
  }
  
  .logo-container img {
    max-width: 100px;
    height: auto;
    opacity: 0.6;
  }
  
  /* Add this to your existing CSS file or include it in your styles.css file */

/* Featured Projects Section */
.featured-projects {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 40px 0;
  }
  
  .featured-projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Testimonials Section */
  .testimonials {
    background-color: #e9ecef; /* Lighter gray background color */
    padding: 40px 0;
  }
  
  .testimonials h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
/* Add this to your existing CSS file or include it in your styles.css file */

/* Featured Projects Section */
.featured-projects .project {
    margin-bottom: 30px;
  }
  
  .featured-projects img {
    max-width: 100%;
    height: auto;
  }
  
  .featured-projects h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Testimonials Section */
  .testimonials .testimonial {
    margin-bottom: 30px;
  }
  
  .testimonials p {
    font-style: italic;
    font-size: 16px;
  }
  
  .testimonials cite {
    display: block;
    font-size: 14px;
    margin-top: 10px;
  }
    