body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    background-color: #c8cacc; /* Modern blue-gray background color */
    color: #ecf0f1; /* Light text color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 9px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    font-size: 24px; /* Larger font size for the header */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #338088;
    transition: color 0.3s ease;
    font-weight: bolder;
  }
  
  .nav-link:hover {
    color: #4e675d; /* Modern red hover color */
  }
  
/* Add this to your existing CSS file or include it in your styles.css file */

/* Styles for the logo */
.logo-container {
    display: inline-block;
    margin-left: 40px; /* Adjust the margin-right as needed */
  }
  
  .logo-container img {
    max-width: 100px;
    height: auto;
    opacity: 0.6;
  }

  /* Hero Section */
.hero-section {
    background-image: url('Design\ 4.jpg'); /* Add your background image URL */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 210px 0; /* Adjust the padding as needed */
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
  }
  
/* Company Background Section */

.company-background {
    background-color: #86b9dc; /* Blue background color */
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .company-background h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .company-background p {
    font-size: 16px;
    margin: 0 auto; /* Center the paragraph */
    max-width: 800px; /* Set a maximum width for the paragraph */
    padding: 15px; /* Add padding to the paragraph */
  }
  
  /* Additional styles for responsiveness */
  @media screen and (max-width: 768px) {
    .company-background h2,
    .company-background p {
      text-align: left; /* Align text to the left on smaller screens */
    }
  }
  
  
  /* Construction Gallery Section */
  .construction-gallery {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 40px 0;
    text-align: center;
  }
  
  .construction-gallery h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    width: 300px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
  }
  
  /* Additional styles for responsiveness */
  @media screen and (max-width: 768px) {
    .gallery-item {
      width: calc(50% - 20px);
    }
  }
  

/* Construction Gallery Section */
.construction-gallery {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 40px 0;
    text-align: center;
  }
  
  .construction-gallery h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    width: 300px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
  }
  
  /* Additional styles for responsiveness */
  @media screen and (max-width: 768px) {
    .gallery-item {
      width: calc(50% - 20px);
    }
  }
  